{% extends 'base.html.twig' %}

{% block title %}
    Products
{% endblock %}

{% block container %}
    <div class="row my-5">
        {% for product in products %}
            <div class="col-12 col-lg-4 mb-5">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                {{ product.title }}
                            </div>
                        </div>
                        <hr class="border-secondary">
                        <div class="row mb-5">
                            <div class="col-12">
                                <img src="{{ product.image }}" alt="{{ product.image }}" class="img-fluid">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12">
                                <strong>{{ product.price | number_format(2, ',', '.') }} CZK</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="javascript:alert('This functionality is unavailable at this moment. Please try later');"
                                   class="btn border-primary w-100 rounded-1 text-uppercase text-primary">
                                    <strong>Buy</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
